@import url("https://api.fontshare.com/v2/css?f[]=britney@400,700,1000&f[]=satoshi@300,400,500,700,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #e8e1cf;
}

.shadow-surreal {
  box-shadow: 0px 0px 0px 1px #0e3f7e08, 0px 1px 1px -0.5px #2a334508,
    0px 3px 3px -1.5px #2a334608, 0px 6px 6px -3px #2a334608,
    0px 12px 12px -6px #0e3f7e08, 0px 24px 24px -12px #0e3f7e10;
}
